{% extends 'base.html.twig' %}

{% block title %}Edit Liste{% endblock %}

{% block body %}
<div class="container">
<br />
    <h2>Edit List</h2>
<br />
    {{ include('liste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_liste_index') }}">back to list</a>

    {{ include('liste/_delete_form.html.twig') }}
</div>
{% endblock %}
